

  .quiz-container {
   width: 90%;
   height: 65vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #f3c9c6;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .question-section {
    margin-bottom: 20px;
    /* text-align: center; */
  }
  
  .question-count {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .question-text {
    font-size: 20px;
  }
  
  .answer-section {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px; */
    width:80%;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    text-align: center;
    justify-content: center;
  }
  
  .answer-button {
    display: block;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    text-align: center;
    cursor: pointer;
    color: black;
  }
  .next{
    text-align: center;
  }
  .next-button{
    width: 150px;
    align-items: left;
    margin-top: 10%;
    background-color: rgb(128, 85, 66);
  }
  
  .answer-button:hover {
    background-color: #f0f0f0;
  }
  
  .answer-button.selected {
    background-color: #a8d8ff;
  }
  